{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"
        ><img
          src="{% static 'logo/6th_street_pizza.png' %}"
          alt="6th Street Pizza Logo"
      /></a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Locations</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Coupons</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Rewards</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Tracker</a></li>
          <li class="nav-item position-relative">
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#cartModal"
            >
              <i class="bi bi-cart text-white" style="font-size: 1.5rem"></i>
              <span id="cartBadge" class="cart-badge">0</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>